body {
  margin: 0;
  padding: 0;
}

.verticalNavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  color: #fff;
  background-color: #202020;
  margin-left: 2rem;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.verticalNavBar.expanded {
  display: flex;
  height: 400px;
}

.verticalNavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.countries {
  margin: 10px;
}

.leagues {
  margin: 10px;
}